.question {
    font-size: 30px;
    font-weight: bold;
    background-color: #FFEB3B;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin: 0 auto;
}



.answer {
    font-size: 15px !important;
    border-radius: 10% !important;
    width: auto !important;
    height: 30px !important;
    background-color: #FFEB3B !important;
    float: left;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.content-answer {
    display: inline-block;
}

.gracias {
    font-size: 50px;
    font-weight: bold;
}

.progress {
    margin-left: 40px;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

progress[value] {
    /* Elimino la apariencia por defecto */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Quito el borde que aparece en Firefox */
    border: none;
    /* Añado mis propios estilos */
    width: 270px;
    height: 30px;
    overflow: hidden;
    /*  Estos estilos solo se aplicaran al fondo de la barra en mozilla */
    border: 1px inset #666;
    background-color: #D8D8D8;
    border-radius: 20px;
}

progress::-moz-progress-bar {
    background: #FF8000;
    border-radius: 20px;
}

progress::-webkit-progress-value {
    background: #212121;
    border-radius: 20px;
}

progress::-webkit-progress-bar {
    background-color: #D8D8D8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
