.question {

    font-size: 20px;
    font-weight: 300;
    background-color: #FFEB3B;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin: 0 auto;
}

.munyecos {
    display: block;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    padding: 0;
    position: absolute;
    height: 120px;
    width: 170px;
    margin-left: 25%;
    margin-bottom: 10%;
}

.munyeco-final {
    display: block;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    padding: 0;
    position: absolute;
    height: 300px;
    width: 200px;
    margin-left: 25%;
    margin-bottom: 5%;
}
.munyeco3 {
    display: block;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    padding: 0;
    position: absolute;
    height: 220px;
    width: 190px;
    margin-left: 25%;
    margin-bottom: 5%;
}

#gracias{
    background-color:yellow;
    color: black;
}

#tit_gracias{

    text-align: center;


}

#vivalavida {
    text-align: center;
}

.omitir{
    border-radius:5%;
    width: 50px !important;    
    float:right;
    margin-right:5px;

}

.answer:hover {
    background-color: #FFEB3B !important;
}

.answer:focus {
    background-color: #FFEB3B !important;
}

.answer {
    font-weight: 800;
    font-size: 22px !important;
    border-radius: 10% !important;
    width: auto !important;
    height: 45px !important;
    vertical-align: central;
}



.gracias {
    font-size: 30px;
    font-weight: bold;
}

.progress {
    margin-left: 40px;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

progress[value] {
    /* Elimino la apariencia por defecto */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Quito el borde que aparece en Firefox */
    border: none;
    /* Añado mis propios estilos */
    width: 270px;
    height: 30px;
    overflow: hidden;
    /*  Estos estilos solo se aplicaran al fondo de la barra en mozilla */
    border: 1px inset #666;
    background-color: #D8D8D8;
    border-radius: 20px;
}

progress::-moz-progress-bar {
    background: #FF8000;
    border-radius: 20px;
}

progress::-webkit-progress-value {
    background: #212121;
    border-radius: 20px;
}

progress::-webkit-progress-bar {
    background-color: #D8D8D8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#cosa {
    margin: 0 auto;
    width: 20%;
}
