.logo_restopags {
    margin: 0 auto;
    text-align: center;
    padding: 1em;
    width: 120px;
    height: 40px;
    display: block;
    margin: auto;
}

#main {
    background-color: white;
    color: black;
}

#menu_header {
    background-color: white;
}

#gyp, #iti, #conf, #ini {
    background-color: #FFEB3B;
    color: black;
    text-shadow: none;
    border: none;
    border-radius: 10%;
    font-size: 1em;
    box-shadow: 3px 3px 1px rgba(0,0,0,0.1);
}

#ini {
    width: auto;
    right:5%;
    display: inline;
    text-align: center;
    padding: 0;
    margin: 2em;
    background-color: white;
    box-shadow:none;

}

.centrar {
    margin: 0 auto;
    text-align: center;
}

#pie_menu {
    background-color: black;
    color: black;
    padding: 1em;
}


#encendido{

    width: 60px;
    height: 60px;

}